*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  display:grid;
  place-items:center;
  font-family:"Poppins", sans-serif;
  background-color:#131313;
}

.profile-card{
  width:400px;
  min-width:250px;
}

.card-header{
  background-color:#ff7a00;
  background-image:linear-gradient(rgba(0,0,128),rgba(0,0,255,0.9)), url("https://st.depositphotos.com/5240153/52108/v/450/depositphotos_521083828-stock-illustration-website-design-industry-concept-doodle.jpg");
  background-size:200px;
  border-bottom:5px solid #131313;
  position:relative;
  height:165px;
  padding:0 20px;
  box-shadow:0 30px 40px rgba(0,0,0,0.2);
}

.card-header img{
  max-width:150px;
  position:absolute;
  bottom:0;
  left:50%;
  transform:translate(-50%,50%);
}

.card-body{
  background-color:#fff;
  text-transform:capitalize;
  text-align:center;
  padding:20px 30px;
}

.card-body h2{
  font-size:32px;
  margin-top:64px;
}

.social-media-list{
  margin:30px 0 50px;
  display:flex;
  justify-content:space-between;
}

.social-media-list svg{
  width:50px;
  height:50px;
  fill:#131313;
  cursor:pointer;
}

.social-media-list svg:not(:last-child){
  margin-right:20px;
}

.card-body .btn{
  display:inline-block;
  margin-bottom:20px;
  text-decoration:none;
  padding:16px 64px;
  background-color:#00008B;
  color:#fff;
  border-radius:100px;
  font-weight:500;
  cursor:pointer;
  box-shadow:0 10px 30px rgba(255,122,0,0.2);
}